node_modules/
.DS_Store
.env
.env.local
.env.*.local

# builds
/dist
/build
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# testing
coverage/

# Firebase artifacts
.firebase/
.firebaserc

# lock duplicates (игнорируем в корне, но не в telegram-bot)
/package-lock.json
!telegram-bot/package-lock.json

